@import 'flowbite';

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    height: 100vh;
}
.ql-editor{
    font-size: 1.05rem;
}
.post_content p{
    /* margin-top: 5px; */
    margin-bottom: 5px;
}